
body{
    font-family: Arial, Helvetica, sans-serif;
}
.phone{
    position: relative;
    top: 200px;
    left: 300px;
    font-size: 50px;
    background-color: #00daaa;
    color: #fff;
    width: 420px;
    text-align: center;
    border: transparent;
    border-radius: 50px;
}
.avito{
    position: relative;
    left: 310px;
    top: 200px;
    color: #00daaa;
    font-weight: 900;
    font-size: 40px;
}
.autor{
    font-size: 20px;
    position: relative;
    left: 300px;
    top: 200px;
}