.tabh{
    padding-top: 100px;
    position: relative;
    left: 5%;;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00c1da;
}
.menu{
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: -0px;
    border: transparent;
}
.but{
    font-size: 2.3vw;
    position: relative;
    left: 2%;
    top: -1.5vw;
    border: transparent;
    background-color: transparent;
    color: #00c1da;
    border-radius: 20px;
    transition: 0.3s;
    text-decoration: none;
    margin-right: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.but:hover{
    color: #37e0f77a;
}
.menuimg{
    height: 4vw;
    width: autoT;
    position: relative;
    top: 0.1vw;
    border: transparent;
    border-radius: 15px;
    margin-left: 10px;
    transform: 0.3s;
}
.adres{
    color: #00c1da;
    font-size: 2.2vw;
    width: 50px;
    position: relative;
    top: -1.5vw;
    text-decoration: none;
    margin-left: 10px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: transparent;
    border-radius: 20px;
    transition: 0.3s;
}
.adres:hover{color: #37e0f77a;}