html{
    scroll-behavior: smooth;
}
body{
    background-color: #e9e9e9;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.imghead{
    width: 100.6%;
    position: relative;
    left: -8px;
    top: 80px;
}
.name{
    position: relative;
    top: -600px;
    color: #000;
    font-size: xx-large;
    width: 100%;
    height: 100px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;;
}
.des{
    color: #000;
    position: relative;
    top: -600px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.more:hover {
  background-color: #ffffff;
  color:#00daaa;
}
.about_us{
    position: relative;
    top: 100px;
    left: -10px;
    font-size: 80px;
    width: 100%;
    height: 1000px;
    z-index: 1;
}
.ab{
    text-align: center;
}
.about_us_img{
    width: 450px;
    position: relative;
    left: 39%;
    top: 10px;
    border-radius: 50px;
}
.infa{
    font-size: 80px;
    text-align: center;
}
.otzivs{
    position: relative;
    top: 800px;

}
.otziv{
    border: 5px solid #00daaa;
}
.name{
    position: relative;
    font-size: 30px;
}