.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #16a085;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}